%section.blog_posts
  - for post in list
    %article.blog_post.grid_15.alpha.omega
      .post.grid_11.alpha
        %header
          %h1
            %a{:href => "#{blog_url}/#{post.created_at.year}/#{post.created_at.month}/#{post.slug}"}= post.title
        .blog_post_body= markdown(post.summary.blank? ? post.body : post.summary)
      %footer.grid_2.suffix_1.prefix_1.omega
        .date
          %time{:datetime=>post.published_at, :pubdate => true}= post.published_at.strftime("%B %e, %Y")
  %nav.blog_nav.grid_15.alpha.omega
    - if page > 1
      %a.newer.grid_5.alpha{:href => "#{blog_url}/page/#{page-1}"} &laquo; Newer Posts 
    - else
      %a.newer.grid_5.alpha &nbsp;
    %p.count.grid_5 Page #{page} of #{pages}
    - if page < pages
      %a.older.grid_5.omega{:href => "#{blog_url}/page/#{page+1}"} Older Posts &raquo;
    - else
      %a.older.grid_5.omega &nbsp;