%td.move
  &nbsp;
%td
  %div.page-listing-title.page-listing-page
    %a{:href => route_to(model_name, model.id, "edit")}
      - if(orange[:pages].routes(packet, model).size > 0)
        %strong= model.title
      - else
        %em= model.title
    &nbsp;
    %div.page-listing-excerpt
      = model.body[0..300]
%td
  %div.page-status
    %div.page-listing-status
      - if(model.published)
        %a.button.status-published Published
      - else
        = button("Draft", route_to(model_name, model.id, 'publish'), :css_class => "status-draft")
%td
  %div.page-listing-actions
    %a.button.grey-button.preview-button{:href => route_to(model_name, model.id, :context => "preview"), :target => "_blank", :rel => "colorbox"}
      Preview
    = delete_button(route_to(model_name, model.id, "delete"))
