!!! 5
%html{:lang => "en"}
  %head
    %title= packet['site'] ? packet['site'].name : "Orange Site"
    %meta{:charset => "utf-8"}
    /[if lt IE 9]
      %script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}    
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
    -# CSS
    = part[:css]
    = part[:js]
  %body#home
    .container.container_24
      %header.head
        .logo
          %h1= packet['site'] ? packet['site'].name : "Orange Site"
        %nav.clearfix
          = orange[:sitemap].two_level(packet)
          %br.clear
      .body.grid_22.prefix_1.suffix_1
        = yield